@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

.container {
    width: 1520px;
    margin: 0 auto;
}

.show {
    display: block;
}

.hide {
    display: none;
}


@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/features';
@import 'blocks/quiz';
@import 'blocks/help';
@import 'blocks/footer';