.button {
    display: block;
    width: 315px;
    height: 70px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    background: linear-gradient(98.89deg, #E6DD07 25.06%, #FFC93F 88.94%);
    border: none;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    cursor: pointer;
}