.quiz {
    padding-bottom: 188px;
    &-card {
        font-family: 'Segoe UI', sans-serif;
        &__title {
            font-size: 45px;
            line-height: 48px;
            max-width: 1203px;
            margin-bottom: 41px;
        }
        &__rapid {
            text-align: center;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #a5a5a5;
            margin-bottom: 51px;
        }
        &__subtitle {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            margin-bottom: 50px;
        }
        &__form {
            max-width: 792px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto 50px;
        }
        &__label {
            display: inline-block;
            margin: 0 0 18px 0;
            user-select: none;
            position: relative;
            // .quiz-card__input {
            //     z-index: -1;
            //     opacity: 0;
            //     display: block;
            //     width: 0;
            //     height: 0;
            // }
            // .quiz-card__text {
            //     display: inline-block;
            //     cursor: pointer;
            //     width: 386px;
            //     height: 70px;
            //     padding: 26px 0 22px 36px;
            //     border: 1px solid #a5a5a5;
            //     border-radius: 5px;
            //     transition: all 0.2s ease;
            //     box-sizing: border-box;
            //     font-family: 'Segoe UI', sans-serif;
            //     font-weight: 400;
            //     font-size: 18px;
            //     line-height: 22px;
            // }
            // .quiz-card__input:checked + span {
            //     background-color: red;
            // }
        }
        &__input {
            z-index: -1;
            opacity: 0;
            display: block;
            width: 0;
            height: 0;
            &:active {
                background-color: red;
            }
        }
        &__text {
            display: inline-block;
            cursor: pointer;
            width: 386px;
            height: 70px;
            padding: 26px 0 22px 36px;
            border: 1px solid #a5a5a5;
            border-radius: 5px;
            transition: all 0.2s ease;
            box-sizing: border-box;
            font-family: 'Segoe UI',
            sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            &:hover,
            &:active {
                background: linear-gradient(113.28deg, #8CD742 3.44%, #27A02D 96.25%);
                color: #fff;
            }
        }
        &__dots {
            display: flex;
            justify-content: space-between;
            width: 152px;
            height: 15px;
            margin: 0 auto 46px;
        }
        &__dot {
            width: 14px;
            height: 14px;
            background-color: rgba(165, 165, 165, 0.25);
            border-radius: 100%;
            cursor: pointer;
        }
        &__dot--active {
            background-color: #E5DD07;
        }
        &__buttons {
            display: flex;
            justify-content: space-between;
            max-width: 520px;
            margin: 0 auto;
        }
        &__button {
            width: 250px;
            height: 70px;
            border: 1px solid #E5DD07;
            background-color: transparent;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #A5A5A5;
            border-radius: 5px;
            cursor: pointer;
        }
        &__button--active {
            background: linear-gradient(98.89deg, #E6DD07 25.06%, #FFC93F 88.94%);
            color: #ffffff;
        }
    }
    &-card--three {
        .quiz-card__form {
            max-width: 1196px;
        }
    }
    &-card--six {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .quiz__title {
            margin-bottom: 37px;
            text-align: left;
        }
        .quiz-card__descr {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            max-width: 709px;
        }
        .quiz-card__block {
            padding: 85px 0 59px 0;
            box-sizing: border-box;
            width: 620px;
            height: 506px;
            background-color: #fff;
            box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
            border-radius: 10px;
            border: 1px solid #8CD742;
        }
        .quiz-card__block-title {
            font-weight: 700;
            font-size: 27px;
            line-height: 33px;
            text-align: center;
            margin-bottom: 54px;
        }
        .quiz-card__block-form {
            max-width: 425px;
            margin: 0 auto;
            .quiz-card__block-button {
                width: 100%;
            }
        }
    }
}